<form action="/add-student" method="POST" id="add_student">
    <div class="new_student">
        <div class="form-group">
            <label for="name" class="text-light">Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="" placeholder="Mark Stoenis">
        </div>
        <div class="form-group">
            <label for="subject" class="text-light">Subject</label>
            <input type="text" name="subject" value="" placeholder="Math">
        </div>
        <div class="form-group">
            <label for="marks" class="text-light">Marks</label>
            <input type="text" name="marks" value="" placeholder="90">
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div>
</form>